.saved {
    height: -webkit-fit-content;
    min-height: 100dvh;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #003d6b6f;
    padding-top: 5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.s-head{
    width: 100%;
    color: #003C6B;
    text-align: center;
    padding: 0;
    padding-top: 2%;
    margin: 0;
}
.items-container {
    width: 100%;
    padding: 3%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    place-items: center;
    box-sizing: border-box;
}
