.upload {
    height: 100vh;
    width: 100%;
    background-color: #a2d6e6cd;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.upload-sec {
    margin-top: 5rem;
    width: 80%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upload-file {
    height: 100%;
    width: 50%;
    background: #F7F0F2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60% 40%;
    grid-template-rows: 60% 40%;
    place-items: end center;
}

.upload-area {
    height: 65%;
    min-height: 10rem;
    border: 5px solid #a2d6e6cd;
    width: 32%;
    -webkit-box-shadow: inset 0px 0px 20px 4px #a2d6e6cd;
    box-shadow: inset 0px 0px 20px 4px #a2d6e6cd;
    min-width: 10rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 24% 76% 72% 28% / 15% 36% 64% 85%;
    color: #003C6B;
    text-align: center;
    font-size: clamp(15px, 5vw, 20px);
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.input-upload {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.upload-area:hover {
    font-size: clamp(20px, 5vw, 25px);
}

.upload-btn-area {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}


.upload-btn {
    background-color: transparent;
    border: 3px solid #a2d6e6cd;
    height: 40%;
    border-radius: 10px;
    min-height: 2.5rem;
    min-width: 10rem;
    color: #003C6B;
    font-size: clamp(15px, 5vw, 20px);
    -webkit-box-shadow: inset 0px 0px 5px #a2d6e6cd;
    box-shadow: inset 0px 0px 5px #a2d6e6cd;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

.upload-btn:hover {
    font-size: clamp(20px, 5vw, 25px);

}

.upload-detail {
    height: 100%;
    width: 50%;
    background-color: transparent;
    display: -ms-grid;
    display: grid;
    /* -ms-grid-rows: (17%)[4]; */
    grid-template-rows: repeat(4, 17%);
    padding: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.input-data {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    place-items: start;
}

.upload-label {
    color: #003C6B;
    font-weight: 600;
    font-size: clamp(10px, 5vw, 20px);

}

.input-sec-up {
    height: 65%;
    padding: 0 4%;
    width: 100%;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #a2d6e6cd;
    background-color: #003C6B;
}

.input-sec-up:is(:hover, :focus) {
    border: none;
}

.input-sec-up::-webkit-input-placeholder {
    color: #a2d6e6cd;
}

.input-sec-up::-moz-placeholder {
    color: #a2d6e6cd;
}

.input-sec-up:-ms-input-placeholder {
    color: #a2d6e6cd;
}

.input-sec-up::-ms-input-placeholder {
    color: #a2d6e6cd;
}

.input-sec-up::placeholder {
    color: #a2d6e6cd;
}

.textarea {
    height: 6rem;
    padding: 4%;
}

.textarea:is(:hover, :focus) {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (max-width:1000px) {
    .upload {
        height: 170vh;
        width: 100%;
        padding: 3rem 0;

    }

    .upload-sec {
        width: 80%;
        height: 95%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .upload-file {
        height: 100%;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        place-items: end center;
    }

    .upload-detail {
        width: 100%;
    }


    .input-data {
        height: 100%;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 40% 50%;
        grid-template-columns: 40% 50%;

    }

    .upload-label {
        place-items: start center;
        text-align: left;
    }

    .textarea {
        height: 5rem;
        padding: 4%;
    }
}

@media screen and (max-width:550px) {

    .input-data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .upload-label {
        font-weight: 600;
        font-size: clamp(10px, 5vw, 20px);
        place-items: start;
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        text-align: left;
    }

    .upload-file {
        height: 40%;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        place-items: end center;
    }

    .upload-detail {
        width: 100%;
        padding: 6%;
        height: 60%;

    }

    .input-sec-up {
        height: 51%;
        padding: 0 4%;
        width: 90%;
        border: none;
    }

    .upload-label {
        font-weight: 600;
        font-size: clamp(10px, 5vw, 20px);

    }

    .textarea {
        height: 6rem;
        padding: 4%;
    }

}