.career {
    height: 100dvh;
    width: 100%;
    background-color: #003C6B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career-sec1 {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.career-sec1>img {
    height: 25rem;
    width: 25rem;
}

.career-sec2 {
    height: 70%;
    width: 50%;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.brand-name{
    height: 3rem;
    width: 80%;
    border-radius: 30px;
    min-width: 10rem;
    background-color: white;
    display: grid;
    place-content: center;
    font-size:  clamp(1.5rem,2vw,3rem);
    font-weight: 700;
    color: #003C6B;
    letter-spacing: 2px;
}
.career-sec2>h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: clamp(3.5rem,6vw,6rem);
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.career-sec2>p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 90%;
    text-align: center;
    width: 100%;
    margin: 0;
}
@media screen and (max-width:700px) {
    .career {
        height: 130dvh;
        width: 100%;
        background-color: #003C6B;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .career-sec2 {
        height: 70%;
        width: 80%;
        box-sizing: border-box;
        padding: 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .career-sec1>img {
        height: 17rem;
        width: 17rem;
    }
}