/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer{
    height: 50dvh;
    width: 100%;
    background: #0061ab;
    background-size: cover;
    background-position: right;
    color: aliceblue;
}
.footer-blur{
    width:inherit;
    height: calc(50dvh - 20%);
    background: rgba(0, 0, 0, 0.341);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-contact{
    height:100%;
    width: 35%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  
}
.footer-contact>span>ul{
    padding: 0;
    height: 100%;
    width: 100%;
}
.footer-contact>span>ul>li{
    text-align: center;
    height:2rem;
}
.footer-contact>span{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

}

.footer-social{
    height:100%;
    width: 30%;
    display: -ms-grid;
    display: grid;
    place-items:center;
}
#icon-body{
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items:center;
}
.foot-icons-container{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; 
}
.foot-icon{
    font-size: 2rem;
    margin: 10px;
}
.foot-icon:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.footer-list1{
    height:100%;
    width: calc((100% - 35% - 30%) / 2);
    display: -ms-grid;
    display: grid;
    place-items: center;

}
.footer-list1>ul{
    list-style-type: none;
    font-size: clamp(1rem, 5vh, 1.2rem);
    width: 100%;
    margin: 0;
    padding:0;
}
.footer-list1>ul>li{
    height: 15%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:850px){
    .footer{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-bottom: 5%;
    }
    .footer-blur{
        width:inherit;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    }
    .footer-contact{
        height:100%;
        width: 50%;
    }
    .footer-social{
        height:100%;
        width: 50%;
        display: -ms-grid;
        display: grid;
        place-items:center;
    }
    .footer-list1{
        height:100%;
        width: 50%;
        margin:2% 0 ;

    }
}
@media screen and (max-width:600px){
    .footer{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-bottom: 5%;
    }
    .footer-blur{
        width:inherit;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-contact{
        height:100%;
        width: 100%;
        margin:2% 0 ;
    }
    .footer-social{
        height:100%;
        width: 100%;
        margin:2% 0 ;

    }
    .footer-list1{
        height:100%;
        width: 100%;
        margin:2% 0 ;

    }
}